@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
    @apply font-black;
  }

  h2 {
    @apply text-xl;
    @apply font-extrabold;
  }

  h3 {
    @apply text-lg;
    @apply font-bold;
  }

  h1,
  h2,
  h3,
  p {
    @apply mb-2;
  }
}
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary;
  @apply text-accent;
  @apply dark:bg-dark-primary;
  @apply dark:text-dark-accent;
}

ul {
  @apply ml-4;
}
ul ul {
  @apply border-l-2;
  @apply pl-2;
  @apply border-accent/50;
  @apply dark:border-dark-accent/50;
}

.toggle-btn {
  @apply bg-primary;
  @apply dark:bg-dark-primary;
  position: absolute;
  transform: translateX(1.75rem);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  transition: 0.3s;
}

.dark .toggle-btn {
  transform: translateX(0rem);
}
